---

---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/sobre/">Sobre</a>
    <a href="/blog/">Blog</a>

    <h1>Meu blog sobre aprendizado Astro</h1>
    <p>Aqui é onde postarei sobre minha jornada aprendendo.</p>
  </body>
</html>
