---
import BaseLayout from '../layouts/BaseLayout.astro';
---

		<BaseLayout>
			<h1>Meu blog sobre aprendizado Astro</h1>
			<p>Aqui é onde postarei sobre minha jornada aprendendo.</p>
			<ul>
				<li>
					<a href="/postagens/post-1">Postagem 1</a>
					<a href="/postagens/post-2">Postagem 2</a>
					<a href="/postagens/post-3">Postagem 3</a>
				</li>
			</ul>
		</BaseLayout>
		
