---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostBlog from '../components/PostBlog.astro';

const tituloPagina = "Meu Blog de Aprendizado sobre Astro";
const todasPostagens = await Astro.glob('../pages/postagens/*.md')
---

		<BaseLayout tituloPagina={tituloPagina}>
			
			<p>Aqui é onde postarei sobre minha jornada aprendendo.</p>
			<ul>
				{todasPostagens.map((post) => <PostBlog url={post.url} titulo={post.frontmatter.titulo} />)}
			</ul>
		</BaseLayout>
		
