---
import Hamburguer from './Hamburguer.astro';
import IconeTema from './IconeTema.astro';
import Navigation from './Navigation.astro'
---
<header>
  <nav>
    <Hamburguer />
		<IconeTema />
    <Navigation />
  </nav>
</header>
